*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 106px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; /* Pushes the footer down */
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

