*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 106px;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; /* Pushes the footer down */
    width:100%;
}

footer {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.content-left{
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 50%;
    float: left;
}

#logo{
    margin:0 auto;
    margin-top: 100px;
    margin-left: 150px;
}

.content-right{
    font-family: "Helvetica Neue", Arial, sans-serif;
    width: 50%;
    float: right;
}

input{
    display:block;
}

header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1877F2;
    padding: 10px;
}

.nav-left,
.nav-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-left {
    margin-right: auto; 
}

.nav-right {
    margin-left: auto; 
}
.nav-left li,
.nav-right li {
    margin: 0 15px;
}

.nav-left li a,
.nav-right li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.form-container{
    width:50%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.form-container form{
    padding: 20px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create{
    background-color: rgb(9, 151, 9);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    width: 75%;
    font-size: 16px;
    text-align: center;
}

#login a{ 
    padding-bottom: 10px;
    text-decoration: none;
}



input[type="submit"]{
    background-color: #1877F2;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover{
    background-color: #3887d6;
}

input, select{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:hover{
    border: 1px solid #1877F2;
}

input:focus{
    border: 1px solid #1877F2;
}

.form-container h2{
    padding: 20px;
    text-align: center;
    color: #1877f2;
  }

